<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Town of Salem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body data-ng-app="salemApp">
    <header class="jumbotron">
      <section class="container">
        <h1>Town of Salem API</h1>
      </section>
    </header>

    <main data-ng-controller="UsersController" class="container">
      <aside class="user-auth">
        <section data-ng-if="!token">
          <div data-ng-if="authWarning" class="alert alert-danger" role="alert">{{authWarning}}</div>

          <user-form
            data-user="newUser"
            data-form-legend="New user"
            data-button-text="Register"
            data-form-submit="signup(newUser)"
          ></user-form>

          <user-form
            data-user="user"
            data-form-legend="Returning user"
            data-button-text="Login"
            data-form-submit="signin(user)"
          ></user-form>
        </section>

        <section data-ng-if="token">
          <p>Welcome, user!</p>
          <button data-ng-click="logout()" type="button" class="btn btn-default">Log out</button>
        </section>
      </aside>

      <aside class="info-sidebar" data-ng-controller="NonCrudController" data-ng-init="census()">
        <h4>Current population</h4>
        <p class="info-subhead">Towns</p>
        <p class="info-number">{{population.towns}}</p>
        <p class="info-subhead">Mafias</p>
        <p class="info-number">{{population.mafias}}</p>
        <p class="info-subhead">Total</p>
        <p class="info-number">{{population.totalPopulation}}</p>
        <button data-ng-click="census()" type="button" name="refresh" class="btn btn-default btn-icon"><span class="glyphicon glyphicon-refresh"></span></button>
      </aside>

      <section class="primary-content">
        <article data-ng-controller="TownsController" data-ng-init="getAll()" class="resource">
          <h2>Towns</h2>
          <div data-ng-if="townsWarning" class="alert alert-danger" role="alert">{{townsWarning}}</div>

          <table class="table table-bordered table-hover table-resource">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Occupation</th>
                <th>Braveness</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr town-display
                data-ng-repeat="town in towns"
                data-town-data="town"
                data-show-form="updateCheck(town)"
                data-update-char="updateTown(town)"
                data-delete-char="deleteTown(town)"
              ></tr>

            </tbody>
          </table>

          <town-create
            data-town-data="newTown"
            data-form-legend="Create a new town"
            data-form-submit="createTown(newTown)"
          ></town-create>
        </article>

        <article data-ng-controller="MafiasController" data-ng-init="getAll()" class="resource">
          <h2>Mafias</h2>
          <div data-ng-if="mafiasWarning" class="alert alert-danger" role="alert">{{mafiasWarning}}</div>

          <table class="table table-bordered table-hover table-resource">
            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Rank</th>
                <th>Skill level</th>
                <th>Weapon of choice</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr mafia-display
                data-ng-repeat="mafia in mafias"
                data-mafia-data="mafia"
                data-show-form="updateCheck(mafia)"
                data-update-char="updateMafia(mafia)"
                data-delete-char="deleteMafia(mafia)"
              ></tr>
            </tbody>
          </table>

          <mafia-create
            data-mafia-data="newMafia"
            data-form-legend="Create a new mafia"
            data-form-submit="createMafia(newMafia)"
          ></mafia-create>

        </article>
      </section>

    </main>

    <footer>
      <section class="container">
        Extremely useful footer content
      </section>
    </footer>

    <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
  </body>
</html>
